<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1 class="title">Hình nền </h1>

<form action="/create" method="post" enctype="application/x-www-form-urlencoded">

    <div>Name : <input name="name" value=" <%= data.name %>"></div>
    <div>Link : <input name="number" value="<%= data.number %>"></div>
    <div>Description : <input name="address" value=" <%= data.address %>"></div>

    <button type="submit">Add New Data</button>

</form>
<div class="row">

    <% for(var i = 0;i < data.length; i++){ %>

        <div class="column">
            <hr>
            <div>ID : <%= data[i]._id %></div>
            <div>name : <%= data[i].name %></div>
            <div class="linkTxt">Link : <%= data[i].number %></div>
            <div>
                <img class="images" src=" <%= data[i].number %>"/>
            </div>
            <div>Description : <%= data[i].address %></div>
            <a href="/delete/?id=<%= data[i]._id %>">Delete</a>
            <a href="/updateForm/?id=<%= data[i]._id %>">Update</a>
        </div>

    <% } %>
</div>


</body>
</html>
