<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<form action="/update" method="post" enctype="application/x-www-form-urlencoded">
    <hr>
    <div>ID : <%= data._id %></div>
    <div>name : <%= data.name %></div>
    <div>number : <%= data.number %></div>
    <div>address : <%= data.address %></div>
    <hr>
    <!--input voi id để truyền lên id mà ko cho người dùng sửa
    nên đặt là hidden-->

    <input name="id" value="<%= data._id %>" hidden>
    <div>Name : <input name="name" value=" <%= data.name %>"></div>
    <div>Number : <input name="number" value="<%= data.number %>"></div>
    <div>Address : <input name="address" value=" <%= data.address %>"></div>

    <button type="submit">Update</button>

</form>


</body>
</html>
